<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Backbone User Manager -- Tutorial</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
</head>
<body>


  <div class="container">
    <h1>Better Reads</h1>
    <hr />
    <div class="page"></div>
  </div>


  <!-- underscore -->
  <script type="text/template" id="volume-list-template">
   
  <% _.each(volumes, function (vol) { %>
    <div><%= vol['id'] %></div>
  <% }); %>



 


  </script>


  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>

  <script type="text/javascript">

  $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
    options.url = 'https://www.googleapis.com/books/v1' + options.url;
  });


  var Volumes = Backbone.Collection.extend({
    url: '/volumes?q=harrypotter'
  });




  var UserListView = Backbone.View.extend({
    el: '.page',
    render: function () {
      var volumes = new Volumes();
      var that = this;
      volumes.fetch({
        success: function(volumes) {
          console.log(volumes.models[0].attributes.items)
          // underscore
          var template = _.template($('#volume-list-template').html(), { volumes: volumes.models[0].attributes.items });
          that.$el.html(template);
        }
      });
    }
  });


  
  var Router = Backbone.Router.extend({
    routes: {
      "": "home"
    }
  });

  var router = new Router();
  var userListView = new UserListView();
  
  router.on('route:home', function() {
    userListView.render();
  });

  Backbone.history.start();


  </script>


  </body>
  </html>
